In [1]:
import pandas as pd

In [ ]:
#from local directory
#df=pd.read_csv("D:\git_folder\Data-Vault\olist_customers_dataset.csv")

In [2]:
# from the github cloud storage
url="https://raw.githubusercontent.com/Dhanush-R-git/Data-Vault/main/olist_customers_dataset.csv"
full_df= pd.read_csv(url)

In [ ]:
full_df.head()

In [ ]:
full_df.shape

In [3]:
from scipy import stats

In [4]:
def df_summary(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Column'] = summary['index']
    summary = summary[['Column','dtypes']]
    summary['# Missing'] = df.isnull().sum().values    
    summary['# Unique'] = df.nunique().values
    summary['Example'] = df.loc[0].values

    for name in summary['Column'].value_counts().index:
        summary.loc[summary['Column'] == name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2),2) 

    return summary
    
df_summary(full_df)

Dataset Shape: (115609, 33)

,Column,dtypes,# Missing,# Unique,Example,Entropy
0,order_id,object,0,96516,e481f51cbdc54678b7cc49136f2d6af7,16.41
1,customer_id,object,0,96516,9ef432eb6251297304e76186b10a928d,16.41
2,order_status,object,0,7,delivered,0.18
3,order_purchase_timestamp,object,0,95989,2017-10-02 10:56:33,16.40
4,order_approved_at,object,14,88332,2017-10-02 11:07:15,16.24
5,order_delivered_carrier_date,object,1195,79241,2017-10-04 19:55:00,16.00
6,order_delivered_customer_date,object,2400,93702,2017-10-10 21:25:13,16.37
7,order_estimated_delivery_date,object,0,449,2017-10-18 00:00:00,8.47
8,payment_sequential,int64,0,29,1,0.34
9,payment_type,object,0,4,credit_card,1.10
10,payment_installments,int64,0,24,1,2.47
11,payment_value,float64,0,28657,18.12,13.96
12,customer_unique_id,object,0,93396,7c396fd4830fd04220f754e42b4e5bff,16.34
13,customer_zip_code_prefix,int64,0,14907,3149,13.10
14,customer_city,object,0,4093,sao paulo,8.13
15,customer_state,object,0,27,SP,3.07
16,order_item_id,int64,0,21,1,0.72
17,product_id,object,0,32171,87285b34884572647811a353c7ac498a,13.60
18,seller_id,object,0,3028,3504c0cb71d7fa48d967e0e4c94d59d9,9.45
19,shipping_limit_date,object,0,91386,2017-10-06 11:07:15,16.31
20,price,float64,0,5879,29.99,9.57
21,freight_value,float64,0,6954,8.72,10.51
22,product_category_name,object,0,71,utilidades_domesticas,4.71
23,product_name_lenght,float64,0,66,40.0,5.03
24,product_description_lenght,float64,0,2958,268.0,10.44
25,product_photos_qty,float64,0,19,4.0,2.17
26,product_weight_g,float64,1,2197,500.0,7.64
27,product_length_cm,float64,1,99,19.0,5.02
28,product_height_cm,float64,1,102,8.0,5.09
29,product_width_cm,float64,1,95,13.0,4.81
30,product_category_name_english,object,0,71,housewares,4.71
31,review_score,int64,0,5,4,1.77
32,review_comment_message,object,66703,35176,"Não testei o produto ainda, mas ele veio corre...",14.65

In [5]:
full_df.isnull().sum().sum()

70316

In [6]:
data = full_df.drop([
                    "order_approved_at",
                    "order_delivered_carrier_date",
                    "order_delivered_customer_date",
                    "order_estimated_delivery_date",
                    "order_purchase_timestamp",], axis= 1)

In [7]:
data.shape

(115609, 28)

In [8]:
data.isnull().sum().sum()

66707

In [9]:
data["product_weight_g"].isnull().sum()

1

In [ ]:
# Directly select by column labels
data.loc[:, ["product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"]].isnull().sum()

In [10]:
# Create a list of column names
column_list = ["product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"]

# Select multiple columns and check for missing values
data[column_list].isnull().sum()

product_weight_g     1
product_length_cm    1
product_height_cm    1
product_width_cm     1
dtype: int64

In [12]:
data = data.assign(
    product_weight_g=data["product_weight_g"].fillna(data["product_weight_g"].median()),
    product_length_cm=data["product_length_cm"].fillna(data["product_length_cm"].median()),
    product_height_cm=data["product_height_cm"].fillna(data["product_height_cm"].median()),
    product_width_cm=data["product_width_cm"].fillna(data["product_width_cm"].median()),
    review_comment_message=data["review_comment_message"].fillna("No review")
)

In [ ]:

"""
data["product_weight_g"].fillna(data["product_weight_g"].median(), inplace=True)
data["product_length_cm"].fillna(data["product_length_cm"].median(), inplace=True)
data["product_height_cm"].fillna(data["product_height_cm"].median(), inplace=True)
data["product_width_cm"].fillna(data["product_width_cm"].median(), inplace=True)
data = data.copy()  # Make sure you are working with a copy of the original data to avoid SettingWithCopyWarning
data["product_weight_g"] = data["product_weight_g"].fillna(data["product_weight_g"].median())
data["product_length_cm"] = data["product_length_cm"].fillna(data["product_length_cm"].median())
data["product_height_cm"] = data["product_height_cm"].fillna(data["product_height_cm"].median())
data["product_width_cm"] = data["product_width_cm"].fillna(data["product_width_cm"].median())

"""

In [13]:
data.loc[:, ["product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"]].isnull().sum()

product_weight_g     0
product_length_cm    0
product_height_cm    0
product_width_cm     0
dtype: int64

In [14]:
data.isnull().sum().sum()

0

In [15]:
data.shape

(115609, 28)

In [ ]:
data.info()

In [16]:
import numpy as np

In [17]:
data = data.select_dtypes(include=[np.number])
cols_to_drop = ["customer_zip_code_prefix", "order_item_id"]
data = data.drop(cols_to_drop, axis=1)
data

,payment_sequential,payment_installments,payment_value,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_score
0,1,1,18.12,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
1,3,1,2.00,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
2,2,1,18.59,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
3,1,3,37.77,29.99,7.78,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
4,1,1,37.77,29.99,7.78,40.0,268.0,4.0,500.0,19.0,8.0,13.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115604,1,1,33.69,25.00,8.69,36.0,576.0,5.0,350.0,32.0,2.0,28.0,5
115605,1,1,84.63,19.00,12.86,32.0,660.0,3.0,500.0,16.0,6.0,16.0,3
115606,1,1,84.63,39.90,12.87,57.0,942.0,5.0,500.0,21.0,7.0,14.0,3
115607,1,1,209.06,183.29,25.77,55.0,506.0,1.0,1225.0,27.0,35.0,15.0,4
115608,1,1,115.45,100.00,15.45,48.0,461.0,4.0,400.0,26.0,22.0,11.0,1

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X = data.drop("review_score", axis=1)
y = data["review_score"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"The shape of x_train is {X_train.shape}, y_train is {y_train.shape}, x_test is {X_test.shape}, y_test is {y_test.shape}")

The shape of x_train is (92487, 12), y_train is (92487,), x_test is (23122, 12), y_test is (23122,)

In [20]:
X_train

,payment_sequential,payment_installments,payment_value,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
590,1,3,32.44,25.00,7.44,46.0,157.0,4.0,250.0,24.0,5.0,11.0
35804,1,1,164.63,119.99,44.64,59.0,1893.0,1.0,6550.0,20.0,20.0,20.0
14286,1,1,228.34,199.99,28.35,51.0,572.0,2.0,550.0,33.0,27.0,26.0
93508,1,10,101.25,84.90,16.35,55.0,1392.0,1.0,900.0,16.0,16.0,16.0
14957,1,2,129.64,119.99,9.65,51.0,1624.0,3.0,850.0,20.0,9.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...
76820,1,1,103.49,67.70,35.79,54.0,1497.0,7.0,700.0,22.0,6.0,11.0
110268,1,1,71.59,55.99,15.60,61.0,3416.0,2.0,1200.0,25.0,18.0,18.0
103694,2,1,53.12,49.00,7.39,59.0,93.0,7.0,250.0,16.0,2.0,11.0
860,1,2,63.42,45.00,18.42,57.0,1058.0,2.0,200.0,23.0,7.0,15.0
15795,1,1,116.36,99.90,16.46,55.0,1501.0,2.0,875.0,26.0,19.0,23.0

In [21]:
from custsatanalysis import logger
logger.info("hi")

[2024-07-08 19:25:59,699: INFO: 1529509291: hi]